# binarios
/bin/
/tmp/
grupocrv-seguimientoymedicion

# generados por templ
*_templ.go

# tailwind compilado
/web/static/css/app.css

# cobertura
coverage.out
domain.out
coverage.html

# entorno
.env
.env.local

# editores
.idea/
.vscode/
.DS_Store
